.gdb_history
.vscode/
emulation/obj
log.html
logs
results-*
snapshots/
pico-examples
robot_output.xml
report.html
mono_crash*
.DS_Store
venv
obj/
__pycache__/
output.xml
test_output.log

# Test output directory
output/
emulation/bin
tmp/
profiling/
output_unit_tests/
emulation/Tests.Runner