BasedOnStyle: Microsoft
AllowShortBlocksOnASingleLine: Never 
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
PackConstructorInitializers: Never
ColumnLimit: 85 
IndentWidth: 2
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2
AlwaysBreakTemplateDeclarations: Yes

