.breadboard {
    position: relative;
    /* width: 80vw; */
    background-color: #f0f0f0;
    border: 1px solid #f00;
}

.breadboard-image {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    object-fit: cover;
}

.grid {
    position: absolute;
    display: grid;
    grid-template-rows: 2fr 2fr 4fr 2fr 2fr;
    grid-template-columns: repeat(31, 1fr);
    top: 20.5%;
    left: 1.65%;
    right: 3.2%;
    bottom: 22%;
}

.grid-item {
    grid-row: 1;
    grid-column: 1;
}
