.led {
    height: 80%;
    width: 80%;
    cursor: pointer;
}


.led{
    display: flex;
    background-color: #f0f0f0;
    border: 1px solid #f00;
    justify-content: center;
    align-items: center;
}

.led-image {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

