name: Renode RP2040 OSX - Tests

on:
  workflow_call:

jobs:
  osx_rp2040_tests:
    name: "Renode MacOS"
    runs-on: macos-14 
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Create GIT Identity
        shell: bash 
        run: | 
          git config --global user.email "you@example.com" && git config --global user.name "Your Name"
      - name: Install Renode 
        shell: bash 
        run: |
          wget https://github.com/renode/renode/releases/download/v1.15.3/renode_1.15.3.dmg 
          hdiutil attach renode_1.15.3.dmg 
          cp -r /Volumes/renode_1.15.3/Renode.app /Applications
          hdiutil detach /Volumes/renode_1.15.3
      - name: Install Renode Test 
        shell: bash
        run: |
          pip3 install --break-system-packages -r /Applications/Renode.app/Contents/MacOS/tests/requirements.txt
      - uses: actions/download-artifact@v4
        with:
          name: pico-examples 
          path: pico-examples/build
      - name: Run tests
        shell: bash
        run: |
          export PATH=$PATH:/Applications/Renode.app/Contents/MacOS/tests
          pip3 install psutil --break-system-packages
          python3 ./tests/run_tests.py -r 3 -f tests/tests.yaml
      - uses: actions/upload-artifact@v4
        with:
          name: run_artifacts
          compression-level: 9
          path: |
            logs/*
            snapshots/*

        
