name: Renode RP2040 Windows - Tests

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
    secrets:
      personal_access_token:
        required: true

jobs:
  tests_windows:
    name: "Renode Windows"
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      
      - name: Create GIT Identity
        shell: cmd 
        run: | 
          git config --global user.email "you@example.com" 
          git config --global user.name "Your Name"
      
      - name: Print Environment
        run: |
          echo github.event.action: ${{ github.event.action }}
          echo github.event_name: ${{ github.event_name }}
      
      - name: Download Renode
        shell: pwsh
        run: | 
          wget https://github.com/renode/renode/releases/download/v1.15.3/renode_1.15.3.zip 
          Expand-Archive '.\renode_1.15.3.zip' -DestinationPath .

      - uses: actions/download-artifact@v4
        with:
          name: pico-examples 
          path: pico-examples/build
      - name: Execute Tests 
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip' # caching pip dependencies
      - run: pip install psutil && pip install -r renode_1.15.3/tests/requirements.txt && python3 tests/run_tests.py -r 3 -f tests/tests.yaml -e renode_1.15.3/bin/renode-test.bat 
